In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("/Users/andreferdinand/Desktop/MOPT/MK/gym-MK/gym_MK/envs/Products.csv")

In [3]:
df

,PRODUCT_ID,PRODUCT,STORAGE,ENDPRODUCT,MIN,PROCESS_00,PROCESS_01,PROCESS_02
0,0,DOUGH,0,False,100,BREAD,BUNS,NaN
1,1,BREAD,10,True,70,NaN,NaN,NaN
2,2,BUNS,0,False,70,BUNS1,BUNS2,BUNS3
3,3,BUNS1,0,True,10,NaN,NaN,NaN
4,4,BUNS2,0,True,10,NaN,NaN,NaN
5,5,BUNS3,0,True,10,NaN,NaN,NaN

In [4]:
class State():
    pass
state = State()

In [5]:
for l,m in [["STORAGE_"+i, int(df["STORAGE"][df["PRODUCT"]==i])] for i in df["PRODUCT"]] + [["DEMAND_"+j, 0] for j in df["PRODUCT"][df["ENDPRODUCT"]]]:
    setattr(State,l,m)

In [6]:
state.STORAGE_BREAD

10

In [7]:
from state import State

In [8]:
state = State()

In [9]:
state.STORAGE_BREAD

10

In [19]:
state.__dict__.keys()

dict_keys([])