In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("/Users/andreferdinand/Desktop/MOPT/MK/gym-MK/gym_MK/envs/Products.csv")

In [3]:
df

,PRODUCT_ID,PRODUCT,STORAGE,ENDPRODUCT,MIN,PROCESS_00,PROCESS_01,DEMAND_DIST,DIST_PARA,PROCESS_02
0,0,DOUGH,30,False,100,BREAD,BUNS,NaN,NaN,NaN
1,1,BREAD,10,True,70,NaN,NaN,NORMAL,"(1, 0.1)",NaN
2,2,BUNS,10,False,70,BUNS1,BUNS2,NaN,NaN,BUNS3
3,3,BUNS1,10,True,10,NaN,NaN,NORMAL,"(1, 0.1)",NaN
4,4,BUNS2,10,True,10,NaN,NaN,NORMAL,"(1, 0.1)",NaN
5,5,BUNS3,10,True,10,NaN,NaN,NORMAL,"(1, 0.1)",NaN

In [4]:
from helper_stats import min_prod, state
min_product = min_prod()
game_state =state()

In [5]:
game_state

In [6]:
from MK_env2 import MKEnv

In [7]:
game = MKEnv()

In [8]:
game.observation_assignment_rev

{'STORAGE_DOUGH': 0,
 'STORAGE_BREAD': 1,
 'STORAGE_BUNS': 2,
 'STORAGE_BUNS1': 3,
 'STORAGE_BUNS2': 4,
 'STORAGE_BUNS3': 5,
 'DEMAND_BREAD': 6,
 'DEMAND_BUNS1': 7,
 'DEMAND_BUNS2': 8,
 'DEMAND_BUNS3': 9}

In [14]:
game.action_assignment_rev

{'BREAD': 0, 'BUNS1': 1, 'BUNS2': 2, 'BUNS3': 3}

In [10]:
game.game_state = (10,0,10,10,10,10,10,10,10,10)

In [11]:
game._get_reward()

-1000

In [13]:
game._update_storage()

(10, 0, 10, 0, 0, 0, 10, 10, 10, 10)

In [13]:
game.demand_dist_end_para.DDISTPARA_BUNS2

(1, 0.1)

In [14]:
game.demand_dist_end_para.DDISTPARA_BREAD

(1, 0.1)

In [15]:
getattr(game.demand_dist_end,"DDIST_BREAD")

'NORMAL'

In [25]:
game.observation_space

Tuple(Discrete(200), Discrete(200), Discrete(200), Discrete(200), Discrete(200), Discrete(200), Discrete(200), Discrete(200), Discrete(200), Discrete(200))

In [22]:
game.observation_assignment["STORAGE_DOUGH"]

KeyError: 'STORAGE_DOUGH'

In [19]:
tu[0]=10

TypeError: 'tuple' object does not support item assignment

In [20]:
game.LAMBDA

5

In [22]:
game.observation_assignment

{0: 'STORAGE_DOUGH',
 1: 'STORAGE_BREAD',
 2: 'STORAGE_BUNS',
 3: 'STORAGE_BUNS1',
 4: 'STORAGE_BUNS2',
 5: 'STORAGE_BUNS3',
 6: 'DEMAND_BREAD',
 7: 'DEMAND_BUNS1',
 8: 'DEMAND_BUNS2',
 9: 'DEMAND_BUNS3'}

In [26]:
df

,PRODUCT_ID,PRODUCT,STORAGE,ENDPRODUCT,MIN,PROCESS_00,PROCESS_01,DEMAND_DIST,DIST_PARA,PROCESS_02
0,0,DOUGH,10,False,100,BREAD,BUNS,NaN,NaN,NaN
1,1,BREAD,10,True,70,NaN,NaN,NORMAL,"(1, 0.1)",NaN
2,2,BUNS,10,False,70,BUNS1,BUNS2,NaN,NaN,BUNS3
3,3,BUNS1,10,True,10,NaN,NaN,NORMAL,"(1, 0.1)",NaN
4,4,BUNS2,10,True,10,NaN,NaN,NORMAL,"(1, 0.1)",NaN
5,5,BUNS3,10,True,10,NaN,NaN,NORMAL,"(1, 0.1)",NaN

In [46]:
start_space = dict(["STORAGE_"+i, int(df["STORAGE"][df["PRODUCT"]==i])] for i in df["PRODUCT"])
liste.update(dict(["DEMAND_"+j, 0] for j in df["PRODUCT"][df["ENDPRODUCT"]]))
liste

{'STORAGE_DOUGH': 10,
 'STORAGE_BREAD': 10,
 'STORAGE_BUNS': 10,
 'STORAGE_BUNS1': 10,
 'STORAGE_BUNS2': 10,
 'STORAGE_BUNS3': 10,
 'DEMAND_BREAD': 0,
 'DEMAND_BUNS1': 0,
 'DEMAND_BUNS2': 0,
 'DEMAND_BUNS3': 0}

In [57]:
["STORAGE_"+i for i in df["PRODUCT"]] + ["DEMAND_"+j for j in df["PRODUCT"][df["ENDPRODUCT"]]]

['STORAGE_DOUGH',
 'STORAGE_BREAD',
 'STORAGE_BUNS',
 'STORAGE_BUNS1',
 'STORAGE_BUNS2',
 'STORAGE_BUNS3',
 'DEMAND_BREAD',
 'DEMAND_BUNS1',
 'DEMAND_BUNS2',
 'DEMAND_BUNS3']

In [54]:
len(liste)

10

In [55]:
state

(10, 10, 10, 10, 10, 10, 0, 0, 0, 0)